h1 {
color: red;
font-family: "Lucida Console", "Courier New", monospace;
font-size: 50px;
}


img:hover {
background-color: gold;
}



.bacon {
background-color: green;
}

.broccoli {
background-color: red;
}

.circular {
border-radius: 50%
}